body {
  margin: 1.5em;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  background: #232323;
}

a {
  text-decoration: none;
  font-size: 1.8rem;
}

.hero-img {
  position: absolute;
  top: 0;
  left: 0;
  background: url("../../images/pexels-pixabay-161154.jpg");
  background-size: cover;
  background-position-x: 20%;
  background-position-y: 20%;
  width: 100%;
  height: 100vh;
  z-index: -1;
  animation: introLoad 2s forwards;
}

nav {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 50vw;
  z-index: 999;
  text-transform: uppercase;
  background: white;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
  ul {
    list-style-type: none;
    padding: 0;
    margin-top: 2em;
    a {
      font-size: 1rem;
      color: black;
      padding: 1em 2.5em;
      display: inline-block;
      width: 100%;

      &:hover {
        background: gray;
        color: white;
      }
    }
  }
  .close {
    margin: 2.5em 1em 3em 1em;
    width: 2.5em;
    float: right;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  svg {
    width: 1.6em;
    margin-top: -0.6em;
    cursor: pointer;
  }
}

section.hero {
  position: relative;
  color: white;
  height: 90vh;
  animation: moveDown 1s ease-in-out forwards;
  h1 {
    font-size: 1.6rem;
    margin-top: 1.5em;
    line-height: 1.5em;
  }
  .hero-subhead {
    font-size: 0.7em;
  }
  .hero-downarrow {
    stroke: white;
    position: absolute;
    width: 0.5em;
    bottom: -6em;
    animation: moveArrow 1s alternate-reverse infinite;
    path {
      fill: white;
    }
  }
}

.open-nav {
  transform: translateX(0);
}

// Slider
.container {
  position: relative;
  overflow: hidden;
  width: 80vw;
  height: 100vh;
  margin: 8em -1.5em 0em 0em;
  .controls {
    button {
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: 100;
    }
    .down-button {
      transform: translateX(-100%);
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
    .up-button {
      transform: translateY(-100%);
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }

  button {
    background-color: #fff;
    border: none;
    color: #aaa;
    cursor: pointer;
    font-size: 16px;
    padding: 15px;
    &:hover {
      color: #222;
    }
    &:focus {
      outline: none;
    }
  }

  .sidebar {
    height: 100%;
    width: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.5s ease-in-out;
    div {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: #fff;
      h1 {
        font-size: 20px;
        margin-bottom: 10px;
        margin-top: -30px;
      }
      p {
        margin-top: 20px;
        font-size: 20px;
      }
    }
  }
  .main-slide {
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    transition: transform 0.5s ease-in-out;
    div {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      height: 100%;
      width: 100%;
    }
  }
}
.marketplace {
  .marketplace__wrappperhead {
    text-align: center;
    color: white;
    h1 {
      font-weight: 600;
      font-size: 1.6rem;
    }
  }
  .marketplace__wrappper {
    margin-top: 1.5em;

    .card {
      margin: 16px;
      background: white;
      max-width: 400px;
      padding: 15px;
      border-radius: 10px;
      box-shadow: 3px 2px 20px 2px rgba(0, 0, 0, 0.46);
      -webkit-box-shadow: 3px 2px 20px 2px rgba(0, 0, 0, 0.46);
      -moz-box-shadow: 3px 2px 20px 2px rgba(0, 0, 0, 0.46);
      .card__product-img {
        position: relative;
        border-radius: 8px;
        overflow: hidden;
        cursor: pointer;
        img {
          width: 100%;
          display: block;
        }
      }
      .card__body {
        padding: 10px 0;
        border-bottom: 1px solid hsl(215, 26%, 82%);
        margin-bottom: 15px;
        .card__title {
          color: #232323;
          font-size: 20px;
          font-weight: 700;
          margin-bottom: 10px;
        }
        .card__text {
          color: #232323;
          font-size: 15px;
          line-height: 1.5;
          margin-bottom: 10px;
        }
        .card__wrapper {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 20px;
          .card__price {
            display: flex;
            align-items: center;
            font-weight: 500;
            .card__icon {
              margin-top: 2px;
            }
            span {
              padding-left: 6px;
            }
          }
          .card__countdown {
            display: flex;
            align-items: center;
            font-weight: 500;
          }
        }
      }
      .card__footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0.1em;
        .card__author-img {
          width: 20px;
          height: 20px;
          border: 2px solid var(--white);
          border-radius: 50px;
          margin-right: 15px;
          .card__author-name {
            color: var(--blue-yonder);
            font-size: 10px;
            font-weight: 500;
          }
        }
        .card__buyandlike {
          display: flex;
          width: 100%;
          align-items: center;
          justify-content: space-between;
          color: #232323;
          font-size: 15px;
          margin: 0 5px 5px 5px;
          cursor: pointer;
          .card__buynow {
            padding: 3px 5px 3px;
            border: 1px solid black;
            border-radius: 10px;
            &:hover {
              // color: aqua;
              box-shadow: 3px 2px 20px 2px rgba(0, 0, 0, 0.46);
              -webkit-box-shadow: 3px 2px 20px 2px rgba(0, 0, 0, 0.46);
              -moz-box-shadow: 3px 2px 20px 2px rgba(0, 0, 0, 0.46);
            }
          }
          .card__like {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .card__like__span {
              padding-right: 5px;
              margin-top: -11px;
            }
            .card__like__img {
              margin-top: -5px;
              padding-left: 5px;
            }
          }
        }
        .author__div {
          display: flex;
          align-items: center;

          .card__author-img {
            width: 20px;
            height: 20px;
            border: 2px solid white;
            border-radius: 50px;
            margin-right: 15px;
          }
          .card__author-name {
            color: #232323;
            font-size: 15px;
            font-weight: 500;
            a {
              color: #232323;
              font-size: 18px;
              // font-weight: bold;
            }
          }
        }
      }
    }

    .card__details {
      width: 80vw;
      margin: auto;
      font-size: 20px;
      .row {
        // display: flex;
        .col {
          //   flex: 1;
          .tabs {
            border-radius: 8px;
            overflow: hidden;
            box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
            .tab {
              width: 100%;
              color: white;
              overflow: hidden;
              input {
                position: absolute;
                opacity: 0;
                z-index: -1;
              }
              .tab-label {
                display: flex;
                justify-content: space-between;
                padding: 1em;
                background: #2c3e50;
                font-weight: bold;
                cursor: pointer;
                /* Icon */
                &:hover {
                  background: #1a252f;
                }
                &:after {
                  content: "❯";
                  width: 1em;
                  height: 1em;
                  text-align: center;
                  transition: all 0.35s;
                }
              }
              .tab-content-transaction {
                max-height: 0;
                padding: 0em;
                color: #04090e;
                background: white;
                transition: all 0.35s;
                table {
                  color: #99a5bd;
                  width: 100%;
                  tr {
                    background-color: #162237;
                    th {
                      padding: 15px 20px;
                      text-align: left;
                      font-size: 14px;
                    }
                    td {
                      padding: 15px 20px;
                      text-align: left;
                      font-size: 14px;
                      &:nth-of-type(odd) {
                        border-left: 4px solid #f3ad70;
                      }
                      &:nth-of-type(even) {
                        border-left: 4px solid #6fb39e;
                      }
                    }
                    &:hover {
                      background-color: #111d32;
                    }
                  }
                }
              }
              .tab-content {
                max-height: 0;
                // padding: 0 1em;
                color: #04090e;
                background: white;
                transition: all 0.35s;
              }
              input:checked {
                + .tab-label {
                  background: #1a252f;
                  &:after {
                    transform: rotate(90deg);
                  }
                }
                ~ .tab-content {
                  max-height: 100vh;
                  padding: 1em;
                }
              }
            }
          }
        }
      }
    }
  }
}

// END SLIDER

// single page start

// single page end

@media only screen and (min-width: 680px) {
  body {
    margin: 1.5em 3em;
    font-family: "Poppins", sans-serif;
    .marketplace {
      .marketplace__wrappperhead {
        h1 {
          font-size: 2rem;
        }
      }
    }
  }
}
@media only screen and (min-width: 920px) {
  .hamburger-menu {
    display: none;
  }
  nav {
    transform: translate(0);
    position: unset;
    display: block;
    width: auto;
    height: auto;
    background: none;
    color: white;
    margin-bottom: 1.2em;
    ul {
      display: flex;
      margin: 0;

      a {
        font-size: 1rem;
        padding: 0.4em 0.5em;
        margin-right: 0.1em;
        display: block;
        color: white;
        text-align: center;
        &:hover {
          background: none;
          text-decoration: underline;
        }
      }
    }
    .close {
      display: none;
    }
  }

  .hero-img {
    left: unset;
    right: 0;
    width: 50%;
    height: 24em;
  }

  section.hero {
    height: auto;
    width: 45%;
  }

  .marketplace {
    .marketplace__wrappperhead {
      h1 {
        // font-weight: 600;
        font-size: 2.5rem;
      }
    }
    .marketplace__wrappper {
      display: grid;
      gap: 16px;
      grid-template-columns: repeat(2, 1fr);
      .card {
        max-width: 40vw;
      }
      .card__details {
        max-width: 40vw;
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    margin-left: 1em;
  }
  .wrapper {
    width: 1200px;
    margin: 0 auto;
  }
  .hero-downarrow {
    width: 0.5em;
    bottom: 0em;
  }
  .marketplace {
    .marketplace__wrappperhead {
      h1 {
        // font-weight: 600;
        font-size: 3rem;
      }
    }
    .marketplace__wrappper {
      display: grid;
      gap: 16px;
      grid-template-columns: repeat(2, 1fr);
      .card {
        max-width: 50vw;
        // .card__body {
        //   .card__title {
        //     font-size: 27px;
        //   }
        //   .card__text {
        //     font-size: 15px;
        //   }
        // }
      }

      .card__details {
        max-width: 50vw;
      }
    }
  }
}

@keyframes introLoad {
  from {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes moveArrow {
  from {
    transform: translateY(-30px);
  }
  to {
    transform: translateY(0px);
  }
}
@keyframes moveDown {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
